<html>
<head>
  <style type="text/css">
    #container {
      max-width: 400px;
      height: 400px;
      margin: auto;
    }
    #container2 {
      max-width: 400px;
      height: 400px;
      margin: auto;
    }
  </style>
</head>
<body>
<div id="container"></div>
<div id="container2"></div>
<script src="https://cdn.bootcss.com/sigma.js/1.2.1/sigma.min.js"></script>
<script>
    data = {{ wall_vertex_and_edges }};
    s = new sigma({
    graph: data,
    container: 'container',
    settings: {
      defaultNodeColor: '#000000',
      maxNodeSize: 1
    }
    });
    data_just_points = {{ wall_points_only }};
    s2 = new sigma({
    graph: data_just_points,
    container: 'container2',
    settings: {
      defaultNodeColor: '#000000',
      maxNodeSize: 2,
      labelThreshold: 0
    }
  });
</script>
</body>
</html>
